<div class="about-section">
    <h1>ASPIRE 1'0'1 </h1>
    <p>A team consisting of consultants and business manager from across the world.</p>
    <p>HACKATHON -TEAM PEOPLE POWER -CONNECTED COMMUNITIES-4 </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture5.jpg" alt="Simran" style="width:20% ">
        <div class="container">
          <h2>Simran Jalan</h2>
          <p class="title">ASSC CONSULTANT</p>
          <p>ACAI-Consult-MACH-IGD-India-1649</p>
          <p>simran@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture1.jpg" alt="Hanson" style="width:20%" >
        <div class="container">
          <h2>Hanson Fernades</h2>
          <p class="title">CONSULTANT</p>
          <p>ACAI-Consult-MACH-EMEA-UK-1071</p>
          <p>hanson@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture6.jpg" alt="Fouad" style="width:20%">
        <div class="container">
          <h2>Fouad Ahmed</h2>
          <p class="title">BUSINESS PROGRAM MGR</p>
          <p>WW Services Sales</p>
          <p>fouad@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture7.jpg" alt="Pratyusha" style="width:20%">
        <div class="container">
          <h2>Pratyusha Thumiki</h2>
          <p class="title">ASSC CONSULTANT</p>
          <p>Dynam_Consult_MACH_IGD_India_1649</p>
          <p>pratyusha@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture2.jpg" alt="Isita" style="width:20%">
        <div class="container">
          <h2>Isita Patra</h2>
          <p class="title">ASSC CONSULTANT</p>
          <p>ACAI-Consult-MACH-IGD-India-1649</p>
          <p>isita@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/images/Picture3.jpg" alt="Unzela" style="width:20%">
        <div class="container">
          <h2>Unzela Inamdar</h2>
          <p class="title">ASSC CONSULTANT</p>
          <p>ACAI-Consult-MACH-IGD-India-1649</p>
          <p>unzela@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
