<div class="wrapper">
      <h1 class="second"><span>Services under Connectify</span></h1>
    <h2>
  Services</h2>
  <div class="line">
  </div>
  <div class="single-service">
        <div class="social">
  <i class="fa fa-codepen"></i></div>
  <span></span>
         <h3>
  Coffee Chat</h3>
  <p>
      Our knowledge is readily available to us, and extremely valuable for some others – now you can trade it. Any time you share yours, you earn the right that we organize a 30 minute call for you to learn from anyone you want, at any time.</p>
  </div>
  <div class="single-service">
        <div class="social">
  <i class="fa fa-cogs"></i></div>
  <span></span>
         <h3>
  Aspire Checklist</h3>
  <p>
 With so much things in mind ,Aspires do require a checklist to ease up their works and concentrate on their projects. So here we present you a checklist where you can complete all your tasks as per required.  
</p>
  </div>
  <div class="single-service">
        <div class="social">
  <i class="fa fa-diamond"></i></div>
  <span></span>
         <h3>
  Applaude Board</h3>
  <p>
      Praise Someone the Way They Want to be Praised.Praise is most impactful when it’s shown through action. If an employee does well on a project, go beyond giving them a company-wide shoutout.So here we present you an applause board where you can applaud for your employees and colleagues.</p>
  </div>
  </div>
  
