<div class="header">
    <h1>COFFEE CHAT SERIES</h1>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Coffee Chat with Simran</h2>
        <h5>A lot can happen over Coffee, Mar 27, 2022</h5>
        <div class="fakeimg" style="height:200px;width: 100% ">
          <img src="../assets/images/coffee2.webp" alt="coffee" style="width:50%; height:100% ">
        </div>
        <p>It’s a wonderful opportunity for you to introduce yourself, pick the brain of others, learn from their experiences, and potentially find ways to collaborate or work together in the future.</p>
      </div>
      <div class="card">
        <h2>Coffee Chat with Isita</h2>
        <h5>Espresso yourself, Feb 12, 2022</h5>
        <div class="fakeimg" style="height:200px;width:100%">
          <img src="../assets/images/coffee3.jpg" alt="coffee" style="width:50%; height:100% ">
        </div>
        <p>Anecdotally, coffee chats have been the most powerful networking tool for me. Remember, most people were once in our shoes and get satisfaction out of helping others. And my experience would suggest that more often than not, people are willing to spend time to help others.
          Life can be so much easier when we chat with the right people at the right time.

        </p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:200px;">
          <img src="../assets/images/coffee5.webp" alt="coffee" style="width:100%; height:100% ">
        </div>
        <p>At this point, I don't know whether coffee is a hobby or survival instinct.</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg" >
          <img src="../assets/images/coffee1.jpg" alt="coffee" style="width:100% ; height: 100% ">
        </div><br>
        
      </div>
     
    </div>
  </div>
  
  <div class="footer">
    <h2> <img src="../assets/images/logo.png"  width="5%" height="15%"/><br></h2>
    <span class="v8_23">ONE MICROSOFT</span><br>
    <span class="v11_12"
      >CONNECTED COMMUNITIES - Connect To Communicate</span
    >
  </div>
